In [153]:
import pandas as pd

In [177]:
df = pd.read_excel("GRC_Spotify_Exo_1.xlsx")
#nombre de samples in the dataset 
n = len(df)

In [178]:
#extraire les email 
prenoms_feminins = ["lea", "alice", "claire", "emma"]
prenoms_masculins = ["jean", "martin", "lucas", "olivier"]

#fonction pour detecter le sexe
def detection_sexe(email):
    prenom = email.split('.')[0].lower()
    if prenom in prenoms_feminins:
        return "Féminin"
    elif prenom in prenoms_masculins:
        return "Masculin"
    else:
        return "Inconnu"

df["sexe"] = df["Email"].apply(detection_sexe)

In [179]:
df

,ID,Age,Email,Profession,Region,sexe
0,223ARR,20,lea.moreau@mail.com,étudiant en droit,Pas-de-Calais,Féminin
1,695XGY,25,alice.thomas@mail.com,étudiant en informatique,Gironde,Féminin
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin
3,630ZDN,51,martin.david@studentmail.fr,étudiant en ingénierie,Somme,Masculin
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin
...,...,...,...,...,...,...
495,497YVU,24,alice.david@domain.fr,serveur,Gironde,Féminin
496,618XQI,25,lea.thomas@mail.com,étudiant en ingénierie,Pas-de-Calais,Féminin
497,720XLE,67,lea.david@example.com,étudiant en droit,Nord,Féminin
498,967JGM,18,lea.thomas@university.com,commercial,Nord,Féminin
499,966BSG,18,lea.thomas@university.com,étudiant en droit,Pas-de-Calais,Féminin

In [180]:
segment_group_Age = df["Age"].value_counts()
segment_group_Profession = df["Profession"].value_counts()
segment_groupby_Region = df["Region"].value_counts()
segment_groupby_sex = df["sexe"].value_counts()

In [181]:
#intervale d'age 

age_18_24 = len(df[(df["Age"]>=18) & (df["Age"] < 25)])
age_25_30 = len(df[(df["Age"]>=25) & (df["Age"] < 31)])
age_sup_30 = len(df[(df["Age"]>=25) & (df["Age"] >= 31)]) 
print("age entre 18 et 24 and",age_18_24)
print("age entre 25 et 30", age_25_30)
print(print("Age sup a 30 ans", age_sup_30))
print("segment_group_Profession :  ", segment_group_Profession)
print("segment_groupby_Region : ", segment_groupby_Region)
print("segment_groupby_sex : ",segment_groupby_sex)

age entre 18 et 24 and 339
age entre 25 et 30 72
Age sup a 30 ans 89
None
segment_group_Profession :   Profession
étudiant en informatique    73
étudiant en droit           70
étudiant en médecine        70
étudiant en commerce        66
étudiant en lettres         42
étudiant en ingénierie      41
commercial                  40
serveur                     36
vendeur en magasin          27
plombier                    19
directeur de projet         16
Name: count, dtype: int64
segment_groupby_Region :  Region
Pas-de-Calais       160
Nord                158
Aisne                49
Somme                43
Oise                 38
Gironde              16
Paris                13
Rhône                10
Bouches-du-Rhône      7
Loire-Atlantique      6
Name: count, dtype: int64
segment_groupby_sex :  sexe
Féminin     256
Masculin    244
Name: count, dtype: int64

In [182]:
#load partie 2 
df2 = pd.read_excel("Spotify_EXO_2.xlsx")
df2

,ID,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
0,223ARR,1,1,0,0,0,0,0
1,695XGY,0,0,0,0,0,0,0
2,163GHT,1,1,1,1,0,0,0
3,630ZDN,1,1,0,0,0,0,0
4,582SUZ,1,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...
495,497YVU,0,0,0,0,0,0,0
496,618XQI,1,1,0,0,0,0,0
497,720XLE,1,1,1,1,1,1,0
498,967JGM,1,1,0,0,0,0,0
499,966BSG,1,1,1,0,0,0,0

In [183]:
df2 = df2.drop(["ID"], axis=1)

In [184]:
df2.head()

,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
0,1,1,0,0,0,0,0
1,0,0,0,0,0,0,0
2,1,1,1,1,0,0,0
3,1,1,0,0,0,0,0
4,1,1,1,1,0,0,0

In [185]:
df =pd.concat([df,df2],axis=1)
df.head()

,ID,Age,Email,Profession,Region,sexe,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
0,223ARR,20,lea.moreau@mail.com,étudiant en droit,Pas-de-Calais,Féminin,1,1,0,0,0,0,0
1,695XGY,25,alice.thomas@mail.com,étudiant en informatique,Gironde,Féminin,0,0,0,0,0,0,0
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin,1,1,1,1,0,0,0
3,630ZDN,51,martin.david@studentmail.fr,étudiant en ingénierie,Somme,Masculin,1,1,0,0,0,0,0
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin,1,1,1,1,0,0,0

In [186]:
df.columns

Index(['ID', 'Age', 'Email', 'Profession', 'Region', 'sexe',
       'concert_last_year', 'visited_website', 'created_account',
       'listen_regularly', 'upgrade_to_premium', 'top20%_listeners',
       'recommanded_spotify'],
      dtype='object')

In [187]:
pourcentage_df_pefor_traitment = len(df)/500 *100
print(f'audiance ==========> {pourcentage_df_pefor_traitment} %')

audiance ==========> 100.0 %

In [188]:
df_filtered = df[df["concert_last_year"] == 1].dropna()

In [189]:
len(df_filtered)

480

In [190]:
df[(df["concert_last_year"]==0) & (df["visited_website"]==0)]

,ID,Age,Email,Profession,Region,sexe,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
1,695XGY,25,alice.thomas@mail.com,étudiant en informatique,Gironde,Féminin,0,0,0,0,0,0,0
12,758NYU,22,jean.durand@studentmail.fr,étudiant en droit,Nord,Masculin,0,0,0,0,0,0,0
51,193EDD,25,claire.muller@example.com,directeur de projet,Nord,Féminin,0,0,0,0,0,0,0
105,219XNX,23,lucas.muller@university.com,étudiant en commerce,Oise,Masculin,0,0,0,0,0,0,0
147,121NGC,25,jean.david@example.com,étudiant en droit,Oise,Masculin,0,0,0,0,0,0,0
148,431YUA,35,alice.david@domain.fr,étudiant en commerce,Pas-de-Calais,Féminin,0,0,0,0,0,0,0
165,736NII,55,martin.thomas@studentmail.fr,plombier,Nord,Masculin,0,0,0,0,0,0,0
189,527PPC,19,alice.moreau@university.com,commercial,Aisne,Féminin,0,0,0,0,0,0,0
201,339ZVH,23,olivier.moreau@domain.fr,commercial,Somme,Masculin,0,0,0,0,0,0,0
207,396ERY,21,lucas.moreau@domain.fr,étudiant en commerce,Somme,Masculin,0,0,0,0,0,0,0
254,205IWF,69,olivier.muller@studentmail.fr,étudiant en droit,Pas-de-Calais,Masculin,0,0,0,0,0,0,0
263,380RZI,25,claire.david@university.com,étudiant en informatique,Nord,Féminin,0,0,0,0,0,0,0
286,695QEG,24,olivier.thomas@example.com,étudiant en ingénierie,Nord,Masculin,0,0,0,0,0,0,0
290,493FUS,18,martin.moreau@studentmail.fr,étudiant en informatique,Nord,Masculin,0,0,0,0,0,0,0
325,709NJH,23,jean.moreau@mail.com,étudiant en médecine,Loire-Atlantique,Masculin,0,0,0,0,0,0,0
344,872ETO,20,jean.david@mail.com,étudiant en lettres,Somme,Masculin,0,0,0,0,0,0,0
436,771ITS,66,olivier.thomas@domain.fr,étudiant en médecine,Loire-Atlantique,Masculin,0,0,0,0,0,0,0
453,657IUY,31,olivier.muller@mail.com,directeur de projet,Nord,Masculin,0,0,0,0,0,0,0
471,670YMO,66,lea.durand@example.com,étudiant en médecine,Rhône,Féminin,0,0,0,0,0,0,0
495,497YVU,24,alice.david@domain.fr,serveur,Gironde,Féminin,0,0,0,0,0,0,0

In [191]:
len(df[(df["concert_last_year"]==1) & (df["visited_website"]==1)])

418

In [192]:
"""
On remarque que les utilisateurs qui ont déjà ete dans consert l'année passée, et ils n'ont pas visité le site, ils n'ont pas créé 
Un compte, il n'écoute pas de la musique régulièrement, donc je vois pour un compte premium, ils ne sont pas vraiment intéressés,
Pour cela, on ne va pas cibler ces utilisateurs.
de meme si l'individu n'a pas ete dans un consert l'annees passe donc il n'a pas visiter le siteweb 

"""

"\nOn remarque que les utilisateurs qui ont déjà ete dans consert l'année passée, et ils n'ont pas visité le site, ils n'ont pas créé \nUn compte, il n'écoute pas de la musique régulièrement, donc je vois pour un compte premium, ils ne sont pas vraiment intéressés,\nPour cela, on ne va pas cibler ces utilisateurs.\nde meme si l'individu n'a pas ete dans un consert l'annees passe donc il n'a pas visiter le siteweb \n\n"

In [193]:
#drop les utilisateur qui on ete dans un consert l'annees passe et qui on pas visiter le site 
# consert_last_year = 1 and visited website = 0

In [194]:
df_filtred = df[(df["concert_last_year"]==1) & (df["visited_website"]==1)]

In [195]:
pourcentage_interese=len(df_filtred)/n *100
print(f'pourcentage_interese ==========> {pourcentage_interese} %')

pourcentage_interese ==========> 83.6 %

In [196]:
#allons plus loin 
df_filtred.head()

,ID,Age,Email,Profession,Region,sexe,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
0,223ARR,20,lea.moreau@mail.com,étudiant en droit,Pas-de-Calais,Féminin,1,1,0,0,0,0,0
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin,1,1,1,1,0,0,0
3,630ZDN,51,martin.david@studentmail.fr,étudiant en ingénierie,Somme,Masculin,1,1,0,0,0,0,0
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin,1,1,1,1,0,0,0
5,547IGG,22,olivier.thomas@university.com,commercial,Pas-de-Calais,Masculin,1,1,1,1,1,1,0

In [197]:
df_filtred = df_filtred[df_filtred['created_account'] ==1]
pourcentage_individu_qui_on_cree_compte = len(df_filtred)/n *100
print(f'pourcentage_individu_qui_on_cree_compte ==> {pourcentage_individu_qui_on_cree_compte} %')

pourcentage_individu_qui_on_cree_compte ==> 61.0 %

In [198]:
#maintenat revenant a l'analyse precedante : 
"""
segment_group_Profession = df["Profession"].value_counts()
segment_groupby_Region = df["Region"].value_counts()
segment_groupby_sex = df["sexe"].value_counts()
age_18_24 = len(df[(df["Age"]>=18) & (df["Age"] < 25)])
age_25_30 = len(df[(df["Age"]>=25) & (df["Age"] < 31)])
age_sup_30 = len(df[(df["Age"]>=25) & (df["Age"] >= 31)]) 
"""

'\nsegment_group_Profession = df["Profession"].value_counts()\nsegment_groupby_Region = df["Region"].value_counts()\nsegment_groupby_sex = df["sexe"].value_counts()\nage_18_24 = len(df[(df["Age"]>=18) & (df["Age"] < 25)])\nage_25_30 = len(df[(df["Age"]>=25) & (df["Age"] < 31)])\nage_sup_30 = len(df[(df["Age"]>=25) & (df["Age"] >= 31)]) \n'

In [199]:
segment_group_Profession_apres_filtrage = df_filtred["Profession"].value_counts()
segment_groupby_Region_apres_filtrage = df_filtred["Region"].value_counts()
segment_groupby_sex_apres_filtrage = df_filtred["sexe"].value_counts()
age_18_24_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=18) & (df_filtred["Age"] < 25)])
age_25_30_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=25) & (df_filtred["Age"] < 31)])
age_sup_30_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=25) & (df_filtred["Age"] >= 31)])

In [200]:
#segment_group_Profession_apres_filtrage
print(f"segment_group_Profession_apres_filtrage : {segment_group_Profession_apres_filtrage}")
#segment_groupby_Region_apres_filtrage
print(f"segment_groupby_Region_apres_filtrage : {segment_groupby_Region_apres_filtrage}")
#segment_groupby_sex_apres_filtrage
print(f"segment_groupby_sex_apres_filtrage : {segment_groupby_sex_apres_filtrage} ")
#age_18_24_apres_filtrage 
print(f"age_18_24_apres_filtrage : {age_18_24_apres_filtrage}")
#age_25_30_apres_filtrage
print(f"age_25_30_apres_filtrage : {age_25_30_apres_filtrage}")
#age_sup_30_apres_filtrage
print(f"age_sup_30_apres_filtrage : {age_sup_30_apres_filtrage}")

segment_group_Profession_apres_filtrage : Profession
étudiant en informatique    44
étudiant en commerce        43
étudiant en droit           42
étudiant en médecine        40
étudiant en lettres         28
serveur                     25
commercial                  23
étudiant en ingénierie      22
vendeur en magasin          17
plombier                    11
directeur de projet         10
Name: count, dtype: int64
segment_groupby_Region_apres_filtrage : Region
Pas-de-Calais       99
Nord                94
Aisne               34
Somme               26
Oise                21
Paris               10
Gironde              9
Bouches-du-Rhône     5
Rhône                4
Loire-Atlantique     3
Name: count, dtype: int64
segment_groupby_sex_apres_filtrage : sexe
Féminin     154
Masculin    151
Name: count, dtype: int64
age_18_24_apres_filtrage : 216
age_25_30_apres_filtrage : 39
age_sup_30_apres_filtrage : 50

In [201]:
df_filtered = df_filtred[df_filtred['listen_regularly']==1]

In [202]:
pourcentage_individu_ecoute_regulierement = len(df_filtered)/n * 100
print(f'Pourcentage des personne qui ecoute regulierement la music ==> {pourcentage_individu_ecoute_regulierement} %')

Pourcentage des personne qui ecoute regulierement la music ==> 43.4 %

In [203]:
df_filtered.head()

,ID,Age,Email,Profession,Region,sexe,concert_last_year,visited_website,created_account,listen_regularly,upgrade_to_premium,top20%_listeners,recommanded_spotify
2,163GHT,55,jean.durand@studentmail.fr,étudiant en informatique,Oise,Masculin,1,1,1,1,0,0,0
4,582SUZ,18,claire.muller@studentmail.fr,étudiant en médecine,Aisne,Féminin,1,1,1,1,0,0,0
5,547IGG,22,olivier.thomas@university.com,commercial,Pas-de-Calais,Masculin,1,1,1,1,1,1,0
6,604CKP,35,lea.muller@mail.com,étudiant en informatique,Somme,Féminin,1,1,1,1,0,0,0
7,867EGM,19,olivier.thomas@studentmail.fr,étudiant en médecine,Pas-de-Calais,Masculin,1,1,1,1,0,0,0

In [204]:
#df_filtered= df_filtered[df_filtered['upgrade_to_premium']==0]

In [205]:
df_filtred = df_filtered[df_filtered['upgrade_to_premium']==1]
pourcentage_apres_filtre = len(df_filtred)/500 
print(len(df_filtred))
poussentage_personne_avec_abanement = len(df_filtred)/n *100
print(f"individu qui on un abonement : {poussentage_personne_avec_abanement} %")

96
individu qui on un abonement : 19.2 %

In [206]:
segment_group_Profession_apres_filtrage = df_filtred["Profession"].value_counts()
segment_groupby_Region_apres_filtrage = df_filtred["Region"].value_counts()
segment_groupby_sex_apres_filtrage = df_filtred["sexe"].value_counts()
age_18_24_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=18) & (df_filtred["Age"] < 25)])
age_25_30_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=25) & (df_filtred["Age"] < 31)])
age_sup_30_apres_filtrage = len(df_filtred[(df_filtred["Age"]>=25) & (df_filtred["Age"] >= 31)])

In [207]:
#segment_group_Profession_apres_filtrage
print(f"segment_group_Profession_apres_filtrage : {segment_group_Profession_apres_filtrage}")
#segment_groupby_Region_apres_filtrage
print(f"segment_groupby_Region_apres_filtrage : {segment_groupby_Region_apres_filtrage}")
#segment_groupby_sex_apres_filtrage
print(f"segment_groupby_sex_apres_filtrage : {segment_groupby_sex_apres_filtrage} ")
#age_18_24_apres_filtrage 
print(f"age_18_24_apres_filtrage : {age_18_24_apres_filtrage}")
#age_25_30_apres_filtrage
print(f"age_25_30_apres_filtrage : {age_25_30_apres_filtrage}")
#age_sup_30_apres_filtrage
print(f"age_sup_30_apres_filtrage : {age_sup_30_apres_filtrage}")

segment_group_Profession_apres_filtrage : Profession
étudiant en droit           14
étudiant en informatique    13
étudiant en médecine        12
étudiant en commerce        11
serveur                     11
étudiant en lettres         10
commercial                   8
étudiant en ingénierie       8
vendeur en magasin           4
directeur de projet          3
plombier                     2
Name: count, dtype: int64
segment_groupby_Region_apres_filtrage : Region
Nord             36
Pas-de-Calais    29
Oise              9
Aisne             9
Somme             8
Gironde           3
Rhône             1
Paris             1
Name: count, dtype: int64
segment_groupby_sex_apres_filtrage : sexe
Féminin     49
Masculin    47
Name: count, dtype: int64
age_18_24_apres_filtrage : 64
age_25_30_apres_filtrage : 13
age_sup_30_apres_filtrage : 19

In [ ]:
liste =[,pourcentage_interese,pourcentage_individu_qui_on_cree_compte,pourcentage_individu_ecoute_regulierement,poussentage_personne_avec_abanement]